html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 50%
    }
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: var(--default-font-size);
    font-weight: 400;
    color: var(--color-body-text);
}

.heading-primary {
    color: var(--color-text);
    font-size: 6rem;
    font-weight: 600;

    &--sub {
        font-size: var(--default-font-size);
        font-weight: 300;
        color: var(--color-header-text);
    }
}

.heading-secondary {
    font-size: 3.5rem;
    color: var(--color-secondary-dark);
}

.heading-tertiary {
    color: var(--color-secondary-dark);
}

.paragraph {
    line-height: 2;
    margin-top: 2rem;

    &:not(:last-child) {
        margin-bottom: 6rem;
    }
}

.text-white {
    color: var(--color-white);
}