:root {
    --color-primary: hsl(356, 100%, 66%);
    --color-primary-light: hsl(355, 100%, 74%);

    --color-secondary-dark: hsl(208, 49%, 24%);

    --color-text:hsl(0, 0%, 100%);
    --color-header-text: hsl(240, 2%, 85%);
    --color-footer-text: hsl(240, 2%, 79%);
    --color-body-text: hsl(207, 13%, 34%);

    --color-footer-bg: hsl(240, 10%, 16%);

    --color-bg-light:hsl(353, 100%, 62%);
    --color-bg-very-light: hsl(13, 100%, 72%);

    --color-bg-body-gray-dark: hsl(237, 17%, 21%);
    --color-bg-body-dark:hsl(237, 23%, 32%);

    --color-white: hsl(0, 0%, 100%);

    --default-font-size: 16px;
}