.header {
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg-pattern-intro.svg'), linear-gradient(to right, var(--color-bg-very-light), var(--color-bg-light));
    background-position: top 52%left 20% ;
    border-radius: 0 0 0 8rem;
    position: relative;

    &__logo {
        height: 4rem;
        margin-right: 4rem;
        
        &__img {
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        padding: 4rem 2rem;
        width: 100%;
        max-width: 140rem;


        &__list {
            list-style: none;
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            transition: all .2s;

            @include respond(tab-land) {
                display: none;
                flex-direction: column;
                background-color: var(--color-white);
                align-items: center;
                text-align: center;
                border-radius: .5rem;
                width: 90%;
                position: absolute;
                padding: 1rem;
                top: 60%;
                left: 50%;
                
                transform: translate(-50%, -50%);
            }

            @include respond(phone) {
                top: 55%;
            }

            @include respond(small-phone) {
                top: 50%;
            }
        }

        &__item {
            position: relative;
            padding: 2rem;
            

            &--login {
                margin-left: auto;
            }
            & a {
                color: rgba(white, .8);
                
                @include respond(tab-land) {
                    color: var(--color-secondary-dark);
                    font-weight: 700;
                }
            }

            & .header__nav__link--active {
                color:var(--color-white);
                border-bottom: 2px solid var(--color-white);

                @include respond(tab-land) {
                    color:rgba(hsl(208, 49%, 10%), .8);
                    border-bottom: none;
                }
            }
        }

        
        &__list--active {
            display: block;
        }

        &__link,
        &__link:link,
        &__link:visited {
            text-decoration: none;
            font-weight: 600;
        }

        &__link:active,
        &__link:hover {
            color:var(--color-white);
            border-bottom: 2px solid var(--color-white);

            @include respond(tab-land) {
                color:rgba(hsl(208, 49%, 10%), .8);;
                border-bottom: none;
            }
        }

        &__link--active ~ .dropdown-menu  {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateY(0); 
        }

        &__link--active ~ &__arrow-light,
        &__link--active ~ &__arrow-dark {
            transform: rotate(-180deg);
        }

        &__arrow-light {
            transition: all .2s;
            margin-left: .5rem;

            @include respond(tab-land) {
                display: none;
            }
        }

        &__arrow-dark {
            display: none;
            transition: all .2s;
            @include respond(tab-land) {
                display: inline-block;
            }
        }
    }

    &__body {
        text-align: center;
        padding: 10rem 5rem;
        padding-bottom: 15rem;
    }

    &__hamburger-button {

        &__inactive,
        &__active {
            display: none;
            position: absolute;
            top: 5rem;
            right: 4.5rem;
            transition: all .2s;

            @include respond(tab-land) {
                display: block;
            }

            @include respond(phone) {
                right: 2.5rem;
            }
        }

        &__active {
            opacity: 0;
            visibility: none;
        }

        &--active &__active {
            opacity: 1;
            visibility: visible;
        }

        &--active &__inactive {
            opacity: 0;
            visibility: none;
        }
    }
}