.dropdown-menu {
    position: absolute;
    left: -4rem;
    top: 2rem;

    flex-direction: column;
    background-color: var(--color-white);

    font-weight: 600;
    font-size: 1.4rem;
    border-radius: .5rem;
    margin: 4rem;
    padding: 3rem 2rem;
    text-align: start;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-1rem);
    transition: all .2s;

    @include respond(tab-land) {

        position: relative;
        background-color: rgba(hsl(207, 13%, 34%), .1);

        left: 0rem;
        top: 0rem;

        padding: 0;
        margin: .5rem 0;

        text-align: center;
        width: 100%;
    }

    &__item {
        padding: .7rem ;
        padding-right: 4rem;

        @include respond(tab-land) {
            padding: 1rem;
        }
    }

    & li a {
        color: var(--color-bg-body-gray-dark);
        @include respond(tab-land) {
            color:rgba(hsl(208, 49%, 10%), .8);
        }
        
    }

    &__link,
    &__link:link,
    &__link:visited {
        display: inline-block;
        text-decoration: none;
 
    }

    &__link:active {
        font-weight: 700;
    }
}