*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: var(--color-text);
}

.heading-primary {
  color: var(--color-text);
  font-size: 6rem;
  font-weight: 600;
}
.heading-primary--sub {
  font-size: var(--default-font-size);
  font-weight: 300;
  color: var(--color-header-text);
}

.u-margin-bottom-large {
  margin-bottom: 4rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

:root {
  --color-primary: hsl(356, 100%, 66%);
  --color-primary-light: hsl(355, 100%, 74%);
  --color-secondary-dark: hsl(208, 49%, 24%);
  --color-text:hsl(0, 0%, 100%);
  --color-header-text: hsl(240, 2%, 85%);
  --color-footer-text: hsl(240, 2%, 79%);
  --color-body-text: hsl(207, 13%, 34%);
  --color-footer-bg: hsl(240, 10%, 16%);
  --color-bg-light:hsl(353, 100%, 62%);
  --color-bg-very-light: hsl(13, 100%, 72%);
  --color-bg-body-gray-dark: hsl(237, 17%, 21%);
  --color-bg-body-dark:hsl(237, 23%, 32%);
  --color-white: hsl(0, 0%, 100%);
  --default-font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(to right, var(--color-bg-very-light), var(--color-bg-light));
  background-position: top 52% left 20%;
  border-radius: 0 0 0 8rem;
}
.header__logo {
  height: 4rem;
  margin-right: 4rem;
}
.header__logo__img {
  height: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 4rem 2rem;
  width: 100%;
  max-width: 140rem;
}
.header__nav__list {
  list-style: none;
  flex: 1;
  display: flex;
}
.header__nav__item {
  padding: 2rem;
}
.header__nav__item--login {
  margin-left: auto;
}
.header__nav__link, .header__nav__link:link, .header__nav__link:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}
.header__body {
  text-align: center;
  padding: 10rem 5rem;
  padding-bottom: 15rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid var(--color-text);
  border-radius: 2.5rem;
  padding: 1.5rem 2rem;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-bg-light);
  transition: all 0.2s;
}
.btn--white:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.btn--white:active {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border: none;
}
.btn--transparent {
  color: var(--color-white);
  transition: all 0.2s;
}
.btn--transparent:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.btn--transparent:active {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
  background-color: var(--color-white);
  color: var(--color-primary-light);
  border: none;
}

/*# sourceMappingURL=style.css.map */
